<p-button (click)="adicionarVideo('top-right')" icon="pi pi-plus" label="NovoVídeo" styleClass="p-button-warning"></p-button>
<p-dialog icon="pi pi-video" header="Adicione um novo vídeo:" [(visible)]="displayPosition" [modal]="true" [position]="position" [style]="{minWidth: '50vw',minHeight: '10vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    <div class="card">

        <i class="pi pi-video mb-2" style="font-size: 2rem"></i>
        <form class="p-fluid example-form" [formGroup]="formGroup" (ngSubmit)="criarVideo()">
            <div class="p-field">
                <label for="titulo">Título: </label>
                <input id="titulo" formControlName="titulo" name="titulo" minlength="5" maxlength="100" type="text" pInputText>
            </div>
            <p class="danger" *ngIf="formGroup.controls.titulo.touched && formGroup.controls.titulo.errors?.required">
                O Campo TÍTULO não pode ser vazio.
            </p>
            <p class="danger" *ngIf="formGroup.controls.titulo.errors?.minlength">
                O Campo TÍTULO deve ter entre 5 e 100 caracteres.
            </p>
            <div class="p-field">
                <label for="descricao">Descrição: </label>
                <input id="descricao" formControlName="descricao" minlength="5" maxlengt="150" name="descricao" type="text" pInputText>
            </div>
            <p class="danger" *ngIf="formGroup.controls.descricao.touched && formGroup.controls.descricao.errors?.required">
                O Campo DESCRIÇÃO não pode ser vazio.
            </p>
            <p class="danger" *ngIf="formGroup.controls.descricao.errors?.minlength">
                O Campo DESCRIÇÃO deve ter entre 5 e 150 caracteres
            </p>
            <div class="p-field">
                <label for="url">Link Completo do Vídeo: </label>
                <input id="url" formControlName="url" name="url" type="text" pInputText>
            </div>
            <p class="danger" *ngIf="formGroup.controls.url.touched && formGroup.controls.url.errors?.required">
                O Campo LINK COMPLETO DO VÍDEO não pode ser vazio.
            </p>
            <p class="danger" *ngIf="formGroup.controls.url.errors?.pattern">
                Insira um Link Válido.
            </p>
            <div class="p-field">
                <h5>Selecione uma Categoria:</h5>
                <div *ngFor="let categoria of categorias" class="p-field-checkbox p-1">
                    <p-radioButton inpudIt="categoria.id" formControlName="categoria" name="categoria" [value]="categoria" [(ngModel)]="categoriaSelecionada"></p-radioButton>
                    <label [for]="categoria.id" [ngStyle]="{color:categoria.cor}">{{categoria.titulo}}</label>
                </div>
            </div>
        </form>

    </div>
    <ng-template pTemplate="footer">
        <p-button type="submit" icon="pi pi-check" [disabled]="formGroup.invalid" (click)="criarVideo()" label="Salvar Novo Vídeo" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="cancelar()" label="Cancelar" styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>