<div class="card">
    <form class="p-fluid">

        <div class="p-field">
            <label for="titulo">Título: </label>
            <input id="titulo" formControlName="titulo" name="titulo" type="text" pInputText>
        </div>
        <div class="p-field">
            <label for="descricao">Descrição: </label>
            <input id="descricao" formControlName="descricao" name="descricao" type="text" pInputText>
        </div>
        <div class="p-field">
            <label for="url">Link Completo do vídeo: </label>
            <input id="url" formControlName="url" name="url" type="text" pInputText>
        </div>

    </form>
</div>