<div class="text-center mt-3 mb-3 p-3">
    <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText
		class="p-inputtext-sm w-30rem text-lg shadow-1 border-round-md hover:border-primary"
		placeholder="O que você deseja assistir?"
		(keyup)="debounce.next($event.target.value)" />
</span>
</div>
<app-carrossel-categorias [categorias]="categorias"></app-carrossel-categorias>

<app-videos [videos]="videos | filtrarPorTitulo: filter"></app-videos>

<app-load-button (click)="load()" [exibirMais]="exibirMais"></app-load-button>