<div class="shadow-2">

    <p-menubar>
        <div class="flex flex-row flex-wrap align-items-start">

            <a class="flex justify-content-center  pr-8">Video FLix</a>

            <div *ngIf="user$ | async as user" class="flex justify-content-end text-align-center pr-6">
                <div *ngIf="user.nome; else login">
                    <i class="pi pi-user mr-1"></i><a class="mr-8">Olá, {{ user.nome }}!</a>
                    <a (click)="logout()">Logout</a>
                </div>
            </div>
            <div *ngIf="user$ | async as user" class="flex justify-content-center pr-3">
                <div *ngIf="user.nome">
                    <p-button (click)="adicionarVideo('top-right')" icon="pi pi-plus" label="NovoVídeo" styleClass="p-button-warning"></p-button>
                </div>
            </div>
        </div>
    </p-menubar>
</div>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000"></p-confirmDialog>

<p-messages [value]="msgs"></p-messages>

<ng-template #login>
    <span class="navbar-text">
<a routerLink="">Login</a>
</span>
</ng-template>