<div class="shadow-2">

    <p-menubar>
        <div class="flex flex-row flex-wrap align-items-start">

            <a class="flex justify-content-center  pr-8">Video FLix</a>

            <div *ngIf="user$ | async as user" class="flex justify-content-end text-align-center pr-6">
                <div *ngIf="user.nome; else login">
                    <i class="pi pi-user mr-1"></i><a class="mr-8">Olá, {{ user.nome }}!</a>
                    <a (click)="logout()">Logout</a>
                </div>
            </div>
            <div *ngIf="user$ | async as user" class="flex justify-content-center pr-3">
                <div *ngIf="user.nome">
                    <p-button (click)="adicionarVideo('top-right')" icon="pi pi-plus" label="NovoVídeo" styleClass="p-button-warning"></p-button>

                </div>

            </div>
        </div>
    </p-menubar>
</div>
<p-dialog header="Adicione um novo vídeo:" [(visible)]="displayPosition" [modal]="true" [position]="position" [style]="{minWidth: '50vw',minHeight: '10vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <app-novo-video [displayModal]="displayModal"></app-novo-video>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayPosition=false" label="Salvar Novo Vídeo" styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>

<ng-template #login>
    <span class="navbar-text">
<a routerLink="">Login</a>
</span>
</ng-template>