<div class="card px-6">
    <h3 class="text-center">Login</h3>
    <div class="field">
        <input id="email" placeholder="E-mail" type="text" class="shadow-3 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field mt-5">
        <input id="senha" placeholder="Senha" type="password" class="shadow-3 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field mt-5">
        <p-button class="block font-bold text-center border-round cursor-pointer bg-primary shadow-3" label="Login" icon="pi pi-check"></p-button>
    </div>
</div>