<div class="card px-6">
    <h2>Criar sua Conta do VideoFlix</h2>
    <div class="field">
        <input id=" email" placeHolder="Seu endereço de e-mail" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full shadow-2">
    </div>
    <div class="field mt-5">
        <input id="senha" placeHolder="Senha" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full shadow-2">
    </div>
    <div class="field mt-5">
        <h3>Tipo de Conta</h3>
        <div class="formgroup-inline">
            <div class="field-radiobutton">
                <input type="radio" name="hcity" id="admin">
                <label for="admin">Admin</label>
            </div>
            <div class="field-radiobutton">
                <input type="radio" name="hcity" id="user">
                <label for="user">User</label>
            </div>
        </div>
    </div>
    <div class="field">
        <p-button type="button" class="block font-bold text-center border-round cursor-pointer bg-primary shadow-4" label="Cadastrar"></p-button>
    </div>
</div>