<div class="container shadow-2 mt-1 opacity-80" style="background-color: #f5fffb">
    <div *ngFor="let cols of rows" class="grid">
        <div *ngFor="let video of cols" class="col-12 md:col-6 lg:col-4  opacity-90 fadeinleft animation-duration-1000">
            <p-card>
                <p-header>
                    <div class="flex align-items-center justify-content-center">
                        <iframe width="560" height="315" [src]="video.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </p-header>
                <p-subheader>
                    <a>{{ video.titulo }}</a>
                </p-subheader>
                <p-footer>
                    <a class="ml-4"> {{ video.categoria }}</a>
                </p-footer>
            </p-card>
        </div>
    </div>
</div>